<!DOCTYPE html>
<html lang="en">
<body>
    <form action="/url" method="GET">
        <label for="username"> Please enter your username:</label>
            <input type="text" id="username" name="username" minlength="3" maxlength="20" required>
        <label for="username"> Please enter your username:</label>
            <input type="text" id="username" name="username" minlength="3" maxlength="20" required>
        
        <button type="submit">Submit</button>  
    </form>
    <form method=“POST”>
        <input type=“text” name=“text” id=“text”>
        <input type=“submit” value=“submit”>
     </form>
    <a href="/course_map">
        <button id="Submit" type="button" onclick="/course_map" class="button">Submit</button>
    </a>
</body>
</html>