<Free_ElectiveCourses>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#01</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#02</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#03</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#04</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#05</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#06</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#07</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#08</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#09</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#10</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#11</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#12</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#13</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#14</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
    <course>
        <subject>Free_Elective</subject>
        <course_number>#15</course_number>
        <course_name>Unknown</course_name>
        <credit>3</credit>
        <course_description>Surrogate Course for Free_Elective</course_description>
        <rotation_term>
            <term>Spring</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Fall</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
        <rotation_term>
            <term>Summer</term>
            <time_code>D, E, O</time_code>
        </rotation_term>
    </course>
</Free_ElectiveCourses>